<%= render "welcome/topnav" %>

<div class="container">
  <div class="jumbotron">
    <h1>Welcom to MDSlides<sup>alpha</sup></h1>
    <p class="lead">From Markdown to HTML5 Slides</p>
    <p class="lead">Simple, Fast, Eye-catching</p>
    <%= link_to "Sign Up!", new_user_registration_path(), :class => "btn btn-success btn-lg", :role => "button" %>
<!--     <%= link_to "Live Demo", "demo.html", :class => "btn btn-success btn-lg", :role => "button" %>
 --> </div>
 <div class="row" id="demo_row">   
    <div class="col-sm-6">
       <h3>From Markdown...</h3>    
       <textarea name="demo_code" id="" cols="60" rows="15">
#Live Demo
###navigate with arrow pad at bottom-right
###Or use keyboard arrow keys

---

##Create pages
###Use ```---``` to separate pages

---

##List
* Python
* Ruby
* Java

---

##Numbered list
1. Linux
2. BSD
3. Windows

---
##Empahsis

*Italic*   
**Bold**   
~~Strikethrough~~

---

##Insert images and links

![cat](http://farm4.staticflickr.com/3117/2573196546_0c3133104a.jpg)

photo credit: [ihasb33r](http://www.flickr.com/photos/ihasb33r/2573196546/)  
[license](http://creativecommons.org/licenses/by-sa/2.0/deed.zh)

---

##Math

$ \frac{x^2+y_f}{\sqrt{\pi}} = 3.198272$

---

##Code Snippet
(Indent code block or use ``` ``` ```)

   #include <iostream> 
   using namespace std; 

   int main() { 
      cout << "Hello! World!\n"; 
      return 0; 
   }

---

##Tables
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

---

##Quote

> A computer would deserve to be called intelligent if it could deceive a human into believing that it was human.  
> -- Alan Turing

---

##FAQ
###**Q**: My lines are stick together
###**A**: Add 3 or more spaces at the end of each line to create line brakes

---

#Thank you!

   </textarea> 
    </div>
    <div class="col-sm-6">
    <h3>To Presentation...</h3>
    <iframe id="demo_output" src="demo.html" frameborder="0"></iframe>
       
    </div>
 </div>

   <div class="row">
      <div class="col-sm-12">
         <hr>
         <p>photo credit: <%= link_to "EpicBets", "http://www.flickr.com/photos/epicbets/"%>, blurred by GIMP</p>
         <p>
      </div>
   </div>


</div>
