<%= render "welcome/topnav" %>

<div class="container">
   <div class="jumbotron">
              <h1>Welcom to MDSlides</h1>
              <p class="lead">From Markdown to HTML5 Slides</p>
              <p class="lead">Simple, Fast, Eye-catching</p>
              <%= link_to "Sign Up!", new_user_registration_path(), :class => "btn btn-success btn-lg", :role => "button" %>
              <%= link_to "Live Demo", "#", :class => "btn btn-success btn-lg", :role => "button" %>
   </div>

   <div class="row">
      <hr>
      <p>photo credit: <%= link_to "EpicBets", "http://www.flickr.com/photos/epicbets/"%>, blurred by GIMP</p>
      <p>
   </div>


</div>
